<!DOCTYPE html>
<html>
    <header>
        <meta name="viewport" content="user-scalable=0">
    </header>
    <head>
        <title>Wifi remote controller</title>
    </head>
    <body>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('on')" >
            ON
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 313px;"
            onclick="send_command('off')" >
            OFF
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('guide')" >
            Guia
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('list')" >
            Lista
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('esc')" >
            Sair
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 313px;"
            onclick="send_command('up')" >
            ^
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('left')" >
            <
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('confirm')" >
            OK
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('right')" >
            >
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 313px;"
            onclick="send_command('down')" >
            v
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 313px;"
            onclick="send_command('menu')" >
            Menu
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 79px;"
            onclick="send_command('info')" >
            Info
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 237px;"
            onclick="send_command('ch_up')" >
            CH +
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 79px;"
            onclick="send_command('last_ch')" >
            Ultimo CH
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;
                   position: relative;
                   left: 237px;"
            onclick="send_command('ch_down')" >
            CH -
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('1')" >
            1
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('2')" >
            2
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('3')" >
            3
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('4')" >
            4
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('5')" >
            5
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('6')" >
            6
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('7')" >
            7
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('8')" >
            8
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('9')" >
            9
        </button>
        <br><br>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('dash')" >
            Dash
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('0')" >
            0
        </button>
        <button
            style="width: 310px;
                   height: 145px;
                   font-size: 50px;"
            onclick="send_command('enter')" >
            Enter
        </button>
        <br><br>
        <br><br>
        <!-- Globo -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/7sfB8Ed.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 405')" >
        </button>
        <!-- Record -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/OTSKIrL.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 407')" >
        </button>
        <!-- SBT -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/APja428.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 409')" >
        </button>
        <br><br>
        <!-- Band -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/2TlKK4a.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 413')" >
        </button>
        <!-- SporTV -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/RbZ4iFX.png);
                   background-size: 200px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 439')" >
        </button>
        <!-- Globo NEWS -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/t4vd5z9.png);
                   background-size: 200px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 440')" >
        </button>
        <br><br>
        <!-- Turbo -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/KapCiXg.png);
                   background-size: 200px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 472')" >
        </button>
        <!-- Discovery -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/HYdYEpu.png);
                   background-size: 250px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 474')" >
        </button>
        <!-- History -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/N8wo0by.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 476')" >
        </button>
        <br><br>
        <!-- Nat Geo -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/N3ep7oL.png);
                   background-size: 240px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 478')" >
        </button>
        <!-- TNT -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/XX0rC8F.png);
                   background-size: 120px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 508')" >
        </button>
        <!-- Comedy Central -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/6yIVSmj.png);
                   background-size: 140px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 558')" >
        </button>
        <br><br>
        <!-- CNN -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/2VQbl0s.png);
                   background-size: 180px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 577')" >
        </button>
        <!-- ESPN -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/vDDmxuZ.png);
                   background-size: 200px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 595')" >
        </button>
        <!-- Premiere -->
        <button
            style="width: 310px;
                   height: 145px;
                   background-image: url(https://i.imgur.com/NhcKxyN.png);
                   background-size: 200px;
                   background-repeat: no-repeat;
                   background-position: center;
                   border-style: solid;
                   border-color: black;
                   border-width: 1px;
                   font-size: 50px;"
            onclick="send_command('ch: 633')" >
        </button>
    </body>
    <script>
    function send_command(cmd)
    {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/command");
        xhttp.send(cmd);
    }
    </script>
</html>